{% extends "Client_header_footer.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}

<div id="fh5co-contact" class="fh5co-section animate-box">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Don't be shy, let's chat.</h2>
                <p>At Venada, we believe in fostering connections and creating a warm, welcoming environment for our patrons. Whether you have a question, a special request, or just want to share your thoughts, we're all ears!Our virtual doors are always open, so feel free to reach out. Whether you're a coffee connoisseur, a tea enthusiast, or just looking for a cozy spot to unwind, we're here for you. Just Click on the button. ></p>
                <p class="btn btn-primary btn-outline">Contact Us</p>
            </div>
        </div>
        
        
<div class="row">
    <div class="col-md-6 col-md-push-3 col-sm-6 col-sm-push-6">
        
        
            <div class="col-md-8 col-md-push-2 col-sm-2 col-sm-push-2">
                
            <table border="1">
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                    </tr>
                    {% for u in cart1 %}
                    <tr>
                        <td class="col-md-4">{{u.Product_id.Product_Name}}</td>
                        <td class="col-md-4">{{u.Quantity}}</td>
                    </tr>
                    {% endfor %}
            </table>
            
            </div> 
         
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="name">First Name</label>
                    <input type="text" class="form-control" id="name" name="First_Name" value="{{user.First_Name}}" readonly style="color: black;">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="email">Last Name</label>
                    <input type="text" class="form-control" id="email" name="Last_Name" value="{{user.Last_Name}}" readonly style="color: black;">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="message">Phone Number</label>
                    <input type="text" class="form-control" id="name" name="Phone" value="{{user.Phone}}" readonly style="color: black;">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="message">Address</label>
                    <input type="text" class="form-control" id="name"  value="{{user.Address}}" readonly style="color: black;">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="message">Sub Total</label>
                    <input type="text" class="form-control" id="name"  value="{{sub}}" readonly style="color: black;">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="message">Total</label>
                    <input type="text" class="form-control" id="name"  value="{{total}}" readonly style="color: black;">
                </div>
            </div>
            

            <div class="row form-group">
            <div class="col-md-6 col-md-push-3 col-sm-6 col-sm-push-3">
                    
            
            
            <div class="row form-group">
                <div class="col-md-12">
                    <form method="post" action="/Client/placeorder/{{total}}">
                        {% csrf_token %}
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" value="2" id="pay" name="payment_status"/>
                                <label for="pay">Online</label>
                               <div class="check"></div>
                            </div>
                            <div class="payment_item ">
                                <div class="radion_btn">
                                    <input type="radio" value="1" id="cod" name="payment_status"/>
                                    <label for="cod">Cash on Delivery </label>
                                    <div class="check"></div>
                                </div>

                                <div id="order1">
                                    <button type="submit" class="btn btn-primary btn-outline btn-lg" title="Place Order" >
                                    Buy Now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <div id="order" style="display:none">
                        <form class="text-center border border-light p-5" action="/Client/placeorder/1"
                              method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" id="name" required class="form-control mb-4"
                                   placeholder="Name">
                            <!-- RAZORPAY INTEGRATION HERE -->
                            <script src="https://checkout.razorpay.com/v1/checkout.js"
                                    data-key="rzp_test_CGWGtGHETGJQRD"
                                    data-amount="{{total|mul:100}}"
                                    data-currency="INR"
                                    data-order_id="{{payment.id}}"
                                    data-buttontext="Pay with Razorpay"
                                    data-name="Venada"
                                    data-url_root="https://eneqd3r9zrjok.x.pipedream.net/"
                                    data-description="Venada"
                                    data-image="{% static 'images/White logo - no background.svg' %}"
                                    data-theme.color="#F37254">
                            </script>
                        </form>
                    </div>


                    
                </div>
            </div>
      
        
    </div>
</div>




<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h4>Venada</h4>
                <p>Indulge in cozy ambiance and delectable flavors at our cafe. Sip, savor, and share moments with freshly brewed delights and artisanal treats. Your perfect escape for a delightful pause.</p>
            </div>
            <div class="col-md-2 col-md-push-1 fh5co-widget">
                <h4>Links</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="/Client/clientindex">Home</a></li>
                    <li><a href="/Client/aboutus">About</a></li>
                    <li><a href="/Client/menu/0">Menu</a></li>
                    

                </ul>
            </div>

            

            <div class="col-md-4 col-md-push-1 fh5co-widget">
                <h4>Contact Information</h4>
                <ul class="fh5co-footer-links">
                    <li>123 West 21th Street, <br> Suite 123 Ahemedabad Gujarat 123456</li>
                    <li>+91 1234567890</li>
                    <li>infovenada@gmail.com</li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <a href="/Client/clientindex/"><img src="/static/images/Color logo - no background.svg" height="100px" width="130px"></a>
                </p>
                <p>
                    <small class="block">&copy; 2024 Venada All Rights Reserved.</small> 
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>

                    </ul>
                </p>
            </div>
        </div>

    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">
$(function() {
$("input[name='payment_status']").click(function() {
  if ($("#pay").is(":checked")) {
    $("#order").show();
    $("#order1").hide();
  }
  else {
    $("#order1").show();
    $("#order").hide();
  }
});
});
</script>
{% endblock %}
