{% extends "Client_header_footer.html" %}

{% block content %}
<div id="fh5co-about" class="fh5co-section">
<div class="container">
<div class="row">
<div class="col-md-5 col-md-push-4 animate-box">
    <div class="section-heading">
        <h1 style="color: white;">Order Placed Successfully. Thank you for ordering.</h1>
    </div>
</div>
</div>
</div>

<center>
<p><a href="/Client/clientindex/" class="btn btn-primary btn-outline">Go  back to Home Page</a></p>
</center>


<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h4>Venada</h4>
                <p>Indulge in cozy ambiance and delectable flavors at our cafe. Sip, savor, and share moments with freshly brewed delights and artisanal treats. Your perfect escape for a delightful pause.</p>
            </div>
            <div class="col-md-2 col-md-push-1 fh5co-widget">
                <h4>Links</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="/Client/clientindex">Home</a></li>
                    <li><a href="/Client/aboutus">About</a></li>
                    <li><a href="/Client/menu/0">Menu</a></li>
                    

                </ul>
            </div>

            

            <div class="col-md-4 col-md-push-1 fh5co-widget">
                <h4>Contact Information</h4>
                <ul class="fh5co-footer-links">
                    <li>123 West 21th Street, <br> Suite 123 Ahemedabad Gujarat 123456</li>
                    <li>+91 1234567890</li>
                    <li>infovenada@gmail.com</li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <a href="/Client/clientindex/"><img src="/static/images/Color logo - no background.svg" height="100px" width="130px"></a>
                </p>
                <p>
                    <small class="block">&copy; 2024 Venada All Rights Reserved.</small> 
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>

                    </ul>
                </p>
            </div>
        </div>

    </div>
</footer>

{% endblock %}