{% extends "Client_header_footer.html" %}
{% load static %}
{% block content %}

	<div id="fh5co-about" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
					<img src="{% static 'images/hero_1.jpg' %}" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="section-heading">
						<h2>Welcome to Venada</h2>
						<p>At Venada, we are passionate about crafting exceptional coffee experiences and providing a welcoming haven for coffee enthusiasts. Explore our story, commitment to quality, and the inviting atmosphere that sets us apart.</p>
						<p>Discover the meticulous process behind our ethically sourced, freshly brewed coffee. From carefully selected beans to the artistry of our skilled baristas, each cup is a journey of flavor and dedication.</p>
						<p><a href="/Client/aboutus" class="btn btn-primary btn-outline">Our History</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-timeline">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="timeline-heading text-center animate-box">
							<div><h3>About Us</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-genius"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Passion for Quality</h3>
								
								</div>
								<div class="timeline-body">
									<p>Embrace the passion that drives us to deliver unparalleled quality in every aspect of our cafe experience. From the moment you step in, you'll sense the dedication we put into creating a space where coffee lovers feel at home.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-genius"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Artisanal Coffee Creations</h3>
								</div>
								<div class="timeline-body">
									<p>Immerse yourself in the world of artisanal coffee. Our baristas are craftsmen, turning each cup into a masterpiece. Discover the nuances of flavor and the artistry behind our diverse coffee creations</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-genius"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">A Cozy Oasis in Ahemedabad</h3>
								</div>
								<div class="timeline-body">
									<p>Nestled in the heart of Ahemedabad, our cafe is more than just a place to enjoy coffee. It's a community hub where connections are made, memories are created, and the simple pleasures of life are savored. Experience the comforting ambiance that makes Venada a cherished spot for locals and visitors alike.</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Expanding the Venada Experience</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-genius"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Beyond Boundaries</h3>
								</div>
								<div class="timeline-body">
									<p>Witness the growth of the Venada family as we extend our reach beyond the original location. Discover our new outlets strategically placed to bring the essence of our cafe to different neighborhoods and communities.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-genius"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Local Flavor, Consistent Excellence</h3>
								</div>
								<div class="timeline-body">
									<p>Each new outlet is a unique chapter in the Venada story, yet consistently upholds the same commitment to quality and community engagement. Embrace the local charm of each neighborhood while enjoying the excellence synonymous with Venada.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-genius"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Digital Connectivity</h3>
								</div>
								<div class="timeline-body">
									<p>Embrace the convenience of our digital connectivity at all outlets. Whether you're working remotely or simply enjoying a moment of relaxation, our outlets are equipped with modern amenities to enhance your experience.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-genius"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Global Expansion</h3>
								</div>
								<div class="timeline-body">
									<p>Stay tuned for our global expansion plans as we strive to share the Venada experience with coffee enthusiasts around the world. We're dedicated to bringing our passion for exceptional coffee and community to new horizons.</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/static/images/Coffeeshop.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Book a Table</h2>
					<p>Indulge in a culinary journey like never before by reserving your table at Venada. Elevate your dining experience with our delectable menu, warm ambiance, and impeccable service.</p>
					<p><a href="/Client/reservation/" class="btn btn-primary btn-outline">Book Now</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>Venada</h4>
					<p>Indulge in cozy ambiance and delectable flavors at our cafe. Sip, savor, and share moments with freshly brewed delights and artisanal treats. Your perfect escape for a delightful pause.</p>
				</div>
				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="/Client/clientindex">Home</a></li>
						<li><a href="/Client/aboutus">About</a></li>
						<li><a href="/Client/menu/0">Menu</a></li>
						

					</ul>
				</div>

				

				<div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4>Contact Information</h4>
					<ul class="fh5co-footer-links">
						<li>123 West 21th Street, <br> Suite 123 Ahemedabad Gujarat 123456</li>
						<li>+91 1234567890</li>
						<li>infovenada@gmail.com</li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<a href="/Client/clientindex/"><img src="/static/images/Color logo - no background.svg" height="100px" width="130px"></a>
					</p>
					<p>
						<small class="block">&copy; 2024 Venada All Rights Reserved.</small> 
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
							<li><a href="#"><i class="icon-instagram2"></i></a></li>

						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>
	{% endblock %}

	
