{% extends "header_footer.html"%}
{% load static %}
{% block content %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Update Area </h3>
              <nav aria-label="breadcrumb">
                
              </nav>
            </div>
            <div class="row">
              
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    
                    <form class="forms-sample" method="post" action="/updatearea/{{Area.Area_id}}">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Area Name</label>
                        <input type="text" class="form-control" placeholder="Name" name="Area_name" value="{{Area.Area_name}}" />
                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2">Update</button>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="footer-inner-wraper">
              
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      {% endblock %}